.header {
    height: 100vh;
    background-image: linear-gradient(
            to right bottom,
            rgba(216, 208, 174, 0.5),
            rgba(216, 208, 174, 0.5)
        ),
        (url("/img/startpage.jpg"));
    background-size: cover;
    background-position: top;
    position: relative;

    &__profile-pic {
        height: 20rem;
        border-radius: 50%;
    }

    &__intro-box {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 1.3rem;
}

.social-links li {
    margin-right: 2rem;

    i {
        color: #fff;
        background-color: #777;
        padding: 1.2rem;
        border-radius: 100px;
    }
}

.nav {
    font-size: 2.6rem;
    padding-top: 1rem;
    font-weight: 400;
    color: #555;
    display: flex;
    justify-content: flex-end;

    .main-nav,
    .secondary-nav {
        display: flex;
        margin-right: 3rem;
        li {
            margin-right: 2rem;
            &:not(:last-child)::after {
                content: "|";
                margin-left: 2rem;
            }
        }
    }
}

.secondary-nav {
    height: 7vh;
    background-color: transparent;
    z-index: 22;
}

section {
    padding: 10rem 0;
}

.box-background-light {
    padding: 3.5rem;

    background-color: rgba(255, 255, 248, 0.6);
}

.box-background-dark {
    padding: 3.5rem;
    background-color: rgba(216, 208, 174, 0.93);
}

.align {
    display: flex;
    align-items: center;
}

.align-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-box-left {
    width: 50%;
}

.text-box-right {
    width: 50%;
    margin-left: 50%;
}

.section-movie-app {
    height: 100vh;
    background-image: url("/img/movieAppCover.jpg");
    background-position: top;
    margin-top: -20vh;
    z-index: -1;
}
.section-hawaii {
    clip-path: polygon(0 20vh, 100% 0, 100% 100%, 0 100%);
    background-image: url("/img/backgroundImgHawaii.png");
    margin-top: -20vh;
    height: 100vh;
}

.section-mindful {
    height: 100vh;
    margin-top: -20vh;

    background-image: url("/img/mindfulCover.png");
    background-position: center;

    clip-path: polygon(0 20vh, 100% 0, 100% 100%, 0 100%);
}
.section-contacts-app {
    height: 90vh;

    background-image: url("/img/contactsCover.png");
    background-position: center;
    clip-path: polygon(0 20vh, 100% 0, 100% 100%, 0 100%);
    margin-top: -20vh;
}

.section-slider {
    position: relative;
    height: 65vh;
}

.section-slider::after {
    position: absolute;
    display: block;
    content: " ";
    height: 0.8px;
    width: 40rem;
    background-color: #999;
    bottom: -15%;
    left: 50%;
    transform: translate(-50%, 0);
}

.section-design {
    margin-top: 5%;
}
