.heading-primary,
.heading-secondary,
.heading-tertiary,
.heading-quaternary,
.heading-tertiary-white {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

.heading-primary {
    color: #555;
    font-weight: 400;

    &--main {
        display: block;
        font-size: 4rem;
        font-weight: 400;
    }
    &--sub {
        display: block;
        font-size: 2rem;
    }
}

.heading-secondary {
    color: #333;
    font-weight: 300;
    font-size: 7rem;
}

.heading-secondary:after {
    display: block;
    content: " ";
    height: 0.8px;
    width: 20rem;
    background-color: #ffd700;
    margin: 2rem 0;
}

.heading-tertiary,
.heading-tertiary-white {
    font-size: 4rem;
    color: #555;
    margin-bottom: 1rem;
    font-weight: 400;
}

.heading-tertiary:after {
    display: block;
    content: " ";
    height: 1px;
    width: 15rem;
    background-color: rgb(221, 205, 63);
    margin: 2rem 0;
}

.heading-tertiary-white::after {
    display: block;
    content: " ";
    height: 1px;
    width: 15rem;
    background-color: #f2f2f2;
    margin: 2rem 0;
}

.heading-quaternary {
    font-size: 2.5rem;
    color: #333;
}

.heading-quaternary::after {
    display: block;
    content: " ";
    height: 1px;
    width: 15rem;
    background-color: rgb(221, 205, 63);
    margin: 1rem 0;
}

.paragraph {
    font-size: 2.3rem;
    color: #333;
    letter-spacing: 0.8px;
}

.paragraph-small {
    font-size: 2rem;
    color: #777;
}

.text-white {
    color: #fff;
}

.text-dark {
    color: #333;
}
