//grid
$grid-width: 140rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$color-champagne-1: #fffae6;

$color-champagne-2: #fff9e0;
$background-color-light-grey: #f2f2f2;
$background-color-green: rgba(207, 230, 225, 0.6);
